@import "styles/global.scss";

.open-dialog-button {
  margin-left: rem(17px);

  user-select: none;
  cursor: pointer;
}

.pill-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;

  gap: rem(8px);
  margin-bottom: rem(20px);

  font-family: "Work Sans", sans-serif;
  font-size: rem(14.6px);
  font-weight: 500;

  .pill {
    height: rem(18px);
    padding: rem(3.5px) rem(3.5px) rem(3.5px) rem(7px);

    display: flex;
    align-items: center;
    gap: rem(4px);

    background: rgba(33, 33, 33, 0.75) !important;
  }

  .pill-remove {
    opacity: 1;
    border: 0;
    padding: 0;
    background-size: rem(14.6px) 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    background-image: url("/Assets/icon/clothes-sewing-blade.svg");
  }

  .pill-remove:focus {
    box-shadow: none;
  }

  .pill-remove:focus-visible {
    box-shadow: none;
  }
}

.modal {
  .content {
    user-select: none;

    width: 100%;
    min-width: rem(300px);
    border-radius: rem(20px);

    color: $black;
    background: $light-grey;

    .header {
      border: 0;
      padding: rem(41px) rem(32px) rem(41px) rem(32px);

      h5 {
        font-size: rem(20px);
      }

      button {
        background-size: auto 100%;
        background-repeat: no-repeat;
        background-position: center;
        background-image: url("/Assets/icon/icon_close.svg");
      }

      button:focus {
        box-shadow: none;
      }

      button:focus-visible {
        box-shadow: none;
      }
    }

    .body {
      font-family: "Work Sans", sans-serif;
      font-weight: 500;

      font-size: rem(18px);
      color: $black;

      form {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        gap: rem(10px);

        .option {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: space-between;

          background-color: $white;
          border: rem(1px) solid $white;
          border-radius: rem(6px);

          label {
            cursor: pointer;
            width: 100%;
            padding: rem(18px) rem(20px) rem(18px) rem(20px);
            z-index: 1;
          }

          input {
            opacity: 0;

            & ~ .checkmark {
              position: absolute;
              margin-right: rem(20px);
              right: rem(20px);
              width: rem(20px);
              height: rem(20px);
              background-size: auto 100%;
              background-repeat: no-repeat;
              background-position: center;
              background-image: url("/Assets/icon/icon_un_check.svg");
            }

            &:checked ~ .checkmark {
              background-image: url("/Assets/icon/icon_check.svg");
            }
          }
        }
      }
    }

    .footer {
      border: 0;

      font-family: "Work Sans", sans-serif;
      font-weight: 500;

      font-size: rem(18px);
      color: $black;

      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      button:first-of-type {
        margin-top: rem(20px);
        border-bottom: rem(2px) solid $black;
      }

      button {
        width: 100%;
        padding-top: rem(18px);
        padding-bottom: rem(18px);
        color: $black;
        background: none;
        border: 0;
        border-radius: 0;
      }
    }
  }
}
